body {
    padding: 0 90px;
    line-height: 50px;
    font-family: Helvetica-neue, Arial, sans-serif;
    color:red;
    background:url("s9uhZ3liF_0.jpg") no-repeat top center;
    text-align: center; 
    vertical-align: center;
}

.cat {
    font-weight: bold;
}
